body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('depositphotos_22215797-stock-illustration-ornamental-lace-pattern-circle-background.jpg');
  }
  .container {
    width: 500px;
    padding: 30px 100px;
    margin: 20px auto;
    background-color: rgba(0, 212, 240, 0.61);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin: 40 0 60px ;
    border-bottom: 5px solid rgb(230, 230, 230);
    padding-bottom: 20px;
    color: wheat;
}
p{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    color: white;
}
  .form {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
  }
  .input:focus {
    outline: none;
  }
  .add {
    border: none;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
  }
  .tasks {
    background-color: #eee;
    margin-top: 20px;
    border-radius: 6px;
    padding: 20px;
  }
  .tasks .task {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  .tasks .task:not(:last-child) {
    margin-bottom: 15px;
  }
  .tasks .task:hover {
    background-color: #f7f7f7;
  }
  .tasks .task.done {
    opacity: 0.5;
  }
  .tasks .task span {
    font-weight: bold;
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
  }